.navbar-absolute {
      padding-top: 35px;
}
body#login {
  background: url('../img/login.jpeg') center center;
background-size: cover;
position: relative;
}
.card .card-title {
  font-weight: 400;
}
div#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    background: rgba(0, 0, 0, 0.5);
}
.card-header.text-center {
      background: #3aaf85;
}
.login-page > .content, .lock-page > .content {
    padding-top: 25vh;
}
.btn-login {
    background-color: #3aaf85;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 40px;
}
.btn-login:hover, .btn-login:active, .btn-login:visited {
  background-color: #339874;
}
.sidebar .nav p, .off-canvas-sidebar .nav p {
  font-size: 16px;
  font-weight: 400;
}
.sidebar[data-active-color="rose"] li.active > a, .off-canvas-sidebar[data-active-color="rose"] li.active > a {
    background: #3aaf85;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(23, 175, 126, 0.4);
}
.sidebar .nav li:hover > a, .sidebar .nav li.active > [data-toggle="collapse"], .off-canvas-sidebar .nav li:hover > a, .off-canvas-sidebar .nav li.active > [data-toggle="collapse"] {
  background: #3aaf85;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(23, 175, 126, 0.4);
}
.sidebar[data-background-color="black"], .off-canvas-sidebar[data-background-color="black"] {
    background: url(../img/sidebar-1.jpg) top center;
    background-position-y: -55px;
}
.sidebar:before, .sidebar:after, .off-canvas-sidebar:before, .off-canvas-sidebar:after {
  background: rgba(0,0,0,0.6) !important;
}
.label {
  box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
  font-size: 13px;
}
.label-danger {
  background-color: #f44336;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background: #3aaf85;
}
.btn-success {
  background-color: #3aaf85 !important;
}
.btn {
  font-weight: 600;
    font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
.btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success:hover, .navbar .navbar-nav > li > a.btn.btn-success:focus, .navbar .navbar-nav > li > a.btn.btn-success:active, .navbar .navbar-nav > li > a.btn.btn-success:hover {
    box-shadow: 0 14px 26px -12px rgba(58, 175, 133, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}
.form-input {
  display: none;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
    color: #333;
    /*font-size: 17px;*/
}
.loader {
  display: none;
}
.loader img {
    width:3%;
}
.alert span, .alert .close i {
  font-weight: 500;
}
.sp-select {
    font-size: 14px;
    padding-top: 0px;
    top: -6px;
}
.sp-save-btn-row {
  text-align: center;
}
button#submit {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.form-group-sm .form-control {
  font-size: 16px;
}
table.dataTable > thead > tr > th, table.dataTable > tbody > tr > th, table.dataTable > tfoot > tr > th, table.dataTable > thead > tr > td, table.dataTable > tbody > tr > td, table.dataTable > tfoot > tr > td {
  font-size: 17px;
}
.sp-alert {
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  display: none;
}
.sp-alert-danger {
  color: red;
}
.sp-alert-success {
  color: green;
}
a.navbar-brand {
    font-weight: 500;
    font-size: 28px;
}
.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
  font-size: 14px;
}

.sidebar .nav>li>div>ul>li a {
    box-shadow: none !important;
    font-weight: 500;
    transition: all 0.2s linear;
}
.sidebar .nav>li>div>ul>li:hover a {
    color: #3aaf85;
    background: transparent;
    font-size: 16px;
}
table > thead > tr > th {
    font-weight: 500 !important;
}

/* ========================================= */
/*           Create Employee                 */
/* ========================================= */

#choose-agency, #contract-end {
  display: none;
}
.input-group .input-group-addon {
    font-weight: bold;
    letter-spacing: 0.3px;
    font-size: 16px;
}

/* ========================================= */
/*           Single Employee                 */
/* ========================================= */

div#prfl-intro {
    text-align: center;
}
h3#prfl-name {
    font-weight: 400;
}
img#prfl-img {
    width: 150px;
}
#tabs>ul.nav>li {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
}
#tabs>ul.nav>li>a {
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
li.nav-item.active>a {
    color: white;
    background: #9c27b0;
}
div#tabs {
  text-align: center;
      margin-top: 40px;
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 50px;
}
span.se-label {
    font-weight: 500;
    font-size: 17px;
}
span.se-value {
    font-size: 17px;
}
.se-single-data {
    padding-bottom: 15px;
}
